@{ string url = HttpContext.Current.Request.RawUrl; }

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <hr class="sidebar-divider">

    @if (User.IsInRole(SistemaMatricula.Models.User.ROLE_ADMINISTRATOR)
            || User.IsInRole(SistemaMatricula.Models.User.ROLE_STUDENT))
    {
        string collapsed = "collapsed";
        string show = string.Empty;
        if ((url.Contains("/Registry") && !url.Contains("/Registry/Class")) || url.Contains("/Student"))
        {
            collapsed = string.Empty;
            show = "show";
        }

        <li class="nav-item">
            <a class="nav-link @collapsed" href="#" data-toggle="collapse"
               data-target="#menu-student" aria-expanded="true" aria-controls="menu-registry">
                <i class="fas fa-fw fa-user-graduate"></i>
                <span>Aluno</span>
            </a>
            <div id="menu-student" class="collapse @show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @if (User.IsInRole(SistemaMatricula.Models.User.ROLE_STUDENT))
                    {
                        <a class="collapse-item" href="@Url.Action("Index", "Registry")">Matrícula</a>
                    }
                    else
                    {
                        <a class="collapse-item" href="@Url.Action("Edit", "Student")">Novo</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Student")">Manutenção</a>
                    }
                </div>
            </div>
        </li>
    }

    @if (User.IsInRole(SistemaMatricula.Models.User.ROLE_ADMINISTRATOR)
            || User.IsInRole(SistemaMatricula.Models.User.ROLE_TEACHER))
    {
        string collapsed = "collapsed";
        string show = string.Empty;
        if (url.Contains("/Teacher") || url.Contains("/Registry/List"))
        {
            collapsed = string.Empty;
            show = "show";
        }

        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link @collapsed" href="#" data-toggle="collapse"
               data-target="#menu-teacher" aria-expanded="true" aria-controls="menu-registry">
                <i class="fas fa-fw fa-user-tie"></i>
                <span>Professor</span>
            </a>
            <div id="menu-teacher" class="collapse @show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @if (User.IsInRole(SistemaMatricula.Models.User.ROLE_TEACHER))
                    {
                        <a class="collapse-item" href="@Url.Action("List", "Registry")">Lista de Chamada</a>
                    }
                    else
                    {
                        <a class="collapse-item" href="@Url.Action("Edit", "Teacher")">Novo</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Teacher")">Manutenção</a>
                    }
                </div>
            </div>
        </li>
    }

    @if (User.IsInRole(SistemaMatricula.Models.User.ROLE_ADMINISTRATOR))
    {
        string collapsed = "collapsed";
        string show = string.Empty;
        if (url.Contains("/Grid"))
        {
            collapsed = string.Empty;
            show = "show";
        }

        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link @collapsed" href="#" data-toggle="collapse"
               data-target="#menu-grid" aria-expanded="true" aria-controls="menu-grid">
                <i class="fas fa-fw fa-table"></i>
                <span>Grade</span>
            </a>
            <div id="menu-grid" class="collapse @show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="@Url.Action("Index", "Grid")">Manutenção</a>
                    <a class="collapse-item" href="@Url.Action("Start", "Grid")">Liberação</a>
                    <a class="collapse-item" href="@Url.Action("Finish", "Grid")">Fechamento</a>
                </div>
            </div>
        </li>
    }

    @if (User.IsInRole(SistemaMatricula.Models.User.ROLE_ADMINISTRATOR))
    {
        string collapsed = "collapsed";
        string show = string.Empty;
        if (url.Contains("/Semester") || url.Contains("/Class") || url.Contains("/Course"))
        {
            collapsed = string.Empty;
            show = "show";
        }

        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link @collapsed" href="#" data-toggle="collapse"
               data-target="#menu-input" aria-expanded="true" aria-controls="menu-input">
                <i class="fas fa-fw fa-folder-open"></i>
                <span>Cadastro</span>
            </a>
            <div id="menu-input" class="collapse @show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="@Url.Action("Index", "Semester")">Semestre</a>
                    <a class="collapse-item" href="@Url.Action("Index", "Class")">Disciplina</a>
                    <a class="collapse-item" href="@Url.Action("Index", "Course")">Curso</a>
                </div>
            </div>
        </li>
    }

    @if (User.IsInRole(SistemaMatricula.Models.User.ROLE_ADMINISTRATOR))
    {
        string collapsed = "collapsed";
        string show = string.Empty;
        if (url.Contains("/User") || url.Contains("/Log") || url.Contains("/Home/About"))
        {
            collapsed = string.Empty;
            show = "show";
        }

        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link @collapsed" href="#" data-toggle="collapse"
               data-target="#menu-system" aria-expanded="true" aria-controls="menu-system">
                <i class="fas fa-fw fa-cog"></i>
                <span>Sistema</span>
            </a>
            <div id="menu-system" class="collapse @show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="@Url.Action("Index", "User")">Usuário</a>
                    <a class="collapse-item" href="@Url.Action("Index", "Log")">Log</a>
                    <a class="collapse-item" href="@Url.Action("About", "Home")">Sobre</a>
                </div>
            </div>
        </li>
    }

    <hr class="sidebar-divider">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>