@model SistemaMatricula.Controllers.RegistryEditView
@{
    ViewBag.Title = "Inscreva-se";
    string course = string.Empty;
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @if (string.IsNullOrEmpty(ViewBag.Message) == false)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Message
                @Html.ValidationSummary(false, "")
            </div>
        }
        @if (ViewBag.HideScreen)
        {
            <div class="text-center">
                <a id="voltar" class="btn btn-primary btn-sm" href="@Url.Action("Index", "Registry")">VOLTAR</a>
            </div>
        }
        else
        {
            using (Html.BeginForm("Edit", "Registry"))
            {
                <div class="row">
                    <div class="col-md-4">
                        @Html.DropDownListFor(
                         model => model.CourseSelected,
                         Model.CourseSelectList,
                         new { @class = "form-control form-control-user" })
                    </div>
                    <div class="col-md-3">
                        <button id="pesquisar" type="submit" class="btn btn-primary btn-user btn-sm">
                            <i class="fas fa-search"></i> PESQUISAR
                        </button>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            }
            <div class="table-responsive">
                @if (Model.Registries.Length < 1)
                {
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>Não há grade disponível para matrícula.</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a id="voltar" class="btn btn-primary btn-sm" href="@Url.Action("Index", "Registry")">VOLTAR</a>
                    </div>
                }
                else
                {
                    using (Html.BeginForm("Update", "Registry", FormMethod.Post))
                    {
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            @for (int i = 0; i < Model.Registries.Length; i++)
                            {
                                if (!string.Equals(course,
                                    string.Format("{0} - {1}", Model.Registries[i].Grid.Semester.Name,
                                        Model.Registries[i].Grid.Class.Course.Name.ToUpper())))
                                {
                                    course = string.Format("{0} - {1}", Model.Registries[i].Grid.Semester.Name,
                                        Model.Registries[i].Grid.Class.Course.Name.ToUpper());
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="6">@course</th>
                                        </tr>
                                        <tr>
                                            <th>Dia</th>
                                            <th>Horário</th>
                                            <th>Disciplina</th>
                                            <th>Professor</th>
                                            <th>1º opção</th>
                                            <th>2º opção</th>
                                        </tr>
                                    </thead>
                                }
                                <tbody>
                                    <tr>
                                        <td>@Model.Registries[i].Grid.WeekdayName</td>
                                        <td>@Model.Registries[i].Grid.Time</td>
                                        <td>@Model.Registries[i].Grid.Class.Name</td>
                                        <td>@Model.Registries[i].Grid.Teacher.Name</td>
                                        <td>
                                            @Html.CheckBoxFor(model =>
                                            model.Registries[i].FirstOption,
                                            new { @class = "form-control form-control-user" })
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(model =>
                                            model.Registries[i].SecondOption,
                                            new { @class = "form-control form-control-user" })
                                        </td>
                                    </tr>
                                </tbody>
                                @Html.HiddenFor(model => model.Registries[i].Grid.IdGrid)
                            }
                        </table>
                        <div class="text-center">
                            <button id="salvar" type="submit" class="btn btn-success btn-user btn-sm">ENVIAR</button>
                            <a id="cancelar" class="btn btn-danger btn-sm" href="@Url.Action("Index", "Registry")">CANCELAR</a>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>