@model SistemaMatricula.Models.Aluno
@{ViewBag.Title = "Cadastro de Alunos";}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @{
            if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Message
                </div>

                if (ViewBag.HideScreen)
                {
                    <div class="text-center">
                        <a id="voltar" class="btn btn-primary btn-sm" href="@Url.Action("Index", "Aluno")">VOLTAR</a>
                    </div>
                }
            }

            if (!ViewBag.HideScreen)
            {
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Update", "Aluno", FormMethod.Post, new { @class = "user" }))
                        {
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control form-control-user", @required = "required", @placeholder = "Digite o nome" })
                                    @Html.ValidationMessageFor(model => model.Nome)
                                </div>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.DataNascimento, new { @class = "form-control form-control-user nascimento", @required = "required", @placeholder = "Digite a data de nascimento" })
                                    @Html.ValidationMessageFor(model => model.DataNascimento)
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-user", @required = "required", @placeholder = "Digite o e-mail" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.CPF, new { @class = "form-control form-control-user cpf", @required = "required", @placeholder = "Digite o CPF" })
                                    @Html.ValidationMessageFor(model => model.CPF)
                                </div>
                            </div>
                            if (Model != null)
                            {
                                @Html.HiddenFor(model => model.IdAluno)
                            }
                            <div class="form-group text-center">
                                <button type="submit" id="salvar" class="btn btn-primary btn-success btn-sm"><i class="fas fa-save"></i> SALVAR</button>
                                <a id="cancelar" class="btn btn-danger btn-sm" href="@Url.Action("Index", "Aluno")">CANCELAR</a>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>