@model SistemaMatricula.Models.Professor
@{ViewBag.Title = "Cadastro de Professores";}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @{
            if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Message
                </div>

                if (ViewBag.HideScreen)
                {
                    <div class="text-center">
                        <a id="voltar" class="btn btn-primary btn-sm" href="@Url.Action("Index", "Professor")">VOLTAR</a>
                    </div>
                }
            }

            if (!ViewBag.HideScreen)
            {
                <div class="row">
                    <div class="col-lg-12">
                        <form class="user" method="post" href="@Url.Action("Edit", "Professor", new { Id = ViewBag.Professor.IdProfessor })">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" required name="nome" placeholder="Nome" value="@ViewBag.Professor.Nome">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control form-control-user" name="descricao" required placeholder="Descrição">@ViewBag.Professor.Descricao</textarea>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" id="salvar" class="btn btn-primary btn-success btn-sm"><i class="fas fa-save"></i> SALVAR</button>
                                <a id="cancelar" class="btn btn-danger btn-sm" href="@Url.Action("Index", "Professor")">CANCELAR</a>
                            </div>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</div>