@model SistemaMatricula.Controllers.GradeEditView
@{ViewBag.Title = "Grade de Semestres";}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @{
            if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Message
                </div>

                if (ViewBag.HideScreen)
                {
                    <div class="text-center">
                        <a id="voltar" class="btn btn-primary btn-sm" href="@Url.Action("Index", "Grade")">VOLTAR</a>
                    </div>
                }
            }

            if (!ViewBag.HideScreen)
            {
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Update", "Grade", FormMethod.Post, new { @class = "user" }))
                        {
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.DisciplinaSelecionada, Model.slDisciplinas, "Selecione uma disciplina", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DisciplinaSelecionada)
                                </div>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.ProfessorSelecionado, Model.slProfessores, "Selecione um professor", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProfessorSelecionado)
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.DiaSelecionado, Model.slDias, "Selecione um dia", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DiaSelecionado)
                                </div>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.HorarioSelecionado, Model.slHorarios, "Selecione um horário", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HorarioSelecionado)
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.IdDisciplinaSemestre)
                            @Html.HiddenFor(model => model.IdCurso)
                            @Html.HiddenFor(model => model.IdSemestre)
                            <div class="form-group text-center">
                                <button type="submit" id="salvar" class="btn btn-primary btn-success btn-sm"><i class="fas fa-save"></i> SALVAR</button>
                                <a id="cancelar" class="btn btn-danger btn-sm" href="@Url.Action("List", "Grade", new { CursoSelecionado = Model.IdCurso, SemestreSelecionado = Model.IdSemestre })">CANCELAR</a>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>