@model SistemaMatricula.Controllers.GradeEditAllView
@{ViewBag.Title = "Grade do Semestre";}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title - @Model.NomeSemestre - @Model.NomeCurso.ToUpper()</h6>
    </div>
    <div class="card-body">
        @{
            if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Message
                </div>

                if (ViewBag.HideScreen)
                {
                    <div class="text-center">
                        <a id="voltar" class="btn btn-primary btn-sm" href="@Url.Action("Index", "Grade")">VOLTAR</a>
                    </div>
                }
            }

            if (!ViewBag.HideScreen)
            {
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("UpdateAll", "Grade", FormMethod.Post, new { @class = "user" }))
                        {
                            for (int i = 0; i < Model.itens.Length; i++)
                            {
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h6 class="m-0 font-weight-bold text-primary">DISCIPLINA - @Model.itens[i].Disciplina.Nome.ToUpper()</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                @Html.DropDownListFor(model => model.itens[i].ProfessorSelecionado, Model.itens[i].slProfessores, "Selecione um professor", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.itens[i].ProfessorSelecionado)
                                            </div>
                                            <div class="col-sm-4">
                                                @Html.DropDownListFor(model => model.itens[i].DiaSelecionado, Model.itens[i].slDias, "Selecione um dia", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.itens[i].DiaSelecionado)
                                            </div>
                                            <div class="col-sm-4">
                                                @Html.DropDownListFor(model => model.itens[i].HorarioSelecionado, Model.itens[i].slHorarios, "Selecione um horário", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.itens[i].HorarioSelecionado)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.itens[i].Semestre.IdSemestre)
                                @Html.HiddenFor(model => model.itens[i].Disciplina.IdDisciplina)
                                @Html.HiddenFor(model => model.itens[i].Disciplina.Nome)
                                @Html.HiddenFor(model => model.itens[i].IdDisciplinaSemestre)
                                @Html.HiddenFor(model => model.itens[i].Status)
                            }
                            @Html.HiddenFor(model => model.IdCurso)
                            @Html.HiddenFor(model => model.IdSemestre)
                            <div class="form-group text-center">
                                <button type="submit" id="salvar" class="btn btn-primary btn-success btn-sm"><i class="fas fa-save"></i> SALVAR</button>
                                <a id="cancelar" class="btn btn-danger btn-sm" href="@Url.Action("List", "Grade")">CANCELAR</a>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>