@model SistemaMatricula.Controllers.GridEditView
@{ViewBag.Title = "Manutenção de Grades";}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @if (string.IsNullOrEmpty(ViewBag.Message) == false)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Message
            </div>
        }
        @if (ViewBag.HideScreen)
        {
            <div class="text-center">
                <a id="voltar" class="btn btn-primary btn-sm" href="@Url.Action("Index", "Grid")">VOLTAR</a>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm("Update", "Grid", FormMethod.Post, new { @class = "user" }))
                    {
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @Html.DropDownListFor(
                                    model => model.ClassSelected,
                                    Model.ClassSelectList,
                                    "Selecione uma disciplina",
                                    new
                                    {
                                        @class = "form-control",
                                        @required = "required"
                                    })
                                @Html.ValidationMessageFor(model => model.ClassSelected)
                            </div>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(
                                    model => model.TeacherSelected,
                                    Model.TeacherSelectList,
                                    "Selecione um professor",
                                    new
                                    {
                                        @class = "form-control",
                                        @required = "required"
                                    })
                                @Html.ValidationMessageFor(model => model.TeacherSelected)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @Html.DropDownListFor(
                                    model => model.WeekdaySelected,
                                    Model.WeekdaySelectList,
                                    "Selecione um dia",
                                    new
                                    {
                                        @class = "form-control",
                                        @required = "required"
                                    })
                                @Html.ValidationMessageFor(model => model.WeekdaySelected)
                            </div>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(
                                    model => model.TimeSelected,
                                    Model.TimeSelectList,
                                    "Selecione um horário",
                                    new
                                    {
                                        @class = "form-control",
                                        @required = "required"
                                    })
                                @Html.ValidationMessageFor(model => model.TimeSelected)
                            </div>
                        </div>
                        if (Model.StatusSelected != SistemaMatricula.Models.Grid.REGISTERED)
                        {
                            <div class="form-group">
                                <b>Atenção: </b>alterar o status da grade para 'CADASTRADA' ou 'CANCELADA',
                                inflige na exclusão de matrículas previamente realizadas.
                            </div>
                        }
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @Html.TextBoxFor(
                                    model => model.Price,
                                    new
                                    {
                                        @class = "form-control form-control-user price",
                                        @required = "required",
                                        @placeholder = "Digite o preço da matrícula"
                                    })
                                @Html.ValidationMessageFor(model => model.Price)
                            </div>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(
                                    model => model.StatusSelected,
                                    Model.StatusSelectList,
                                    "Selecione um status",
                                    new
                                    {
                                        @class = "form-control",
                                        @required = "required"
                                    })
                                @Html.ValidationMessageFor(model => model.StatusSelected)
                            </div>
                        </div>
                        if (Model != null)
                        {
                            @Html.HiddenFor(model => model.IdGrid)
                            @Html.HiddenFor(model => model.IdSemester)
                            @Html.HiddenFor(model => model.IdCourse)
                        }
                        <div class="form-group text-center">
                            <button type="submit" id="salvar" class="btn btn-primary btn-success btn-sm">
                                <i class="fas fa-save"></i> SALVAR
                            </button>
                            <a id="cancelar" class="btn btn-danger btn-sm" href="@Url.Action("Index", "Grid")">CANCELAR</a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>