@{
    ViewBag.Title = "Liberação de Grade";
    string curso = string.Empty;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Message
        </div>

        if (ViewBag.HideScreen)
        {
        <div class="text-center">
            <a id="voltar" class="btn btn-primary btn-sm" href="@Url.Action("Start", "Grade")">VOLTAR</a>
        </div>
        }
        }
        else
        {
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                @foreach (var item in ViewBag.Grades)
                {
                    if (!string.Equals(curso, string.Format("{0} - {1}", item.Semestre.Nome, item.Disciplina.Curso.Nome.ToUpper())))
                    {
                        curso = string.Format("{0} - {1}", item.Semestre.Nome, item.Disciplina.Curso.Nome.ToUpper());
                        <thead>
                            <tr>
                                <th class="text-center" colspan="4">@item.Semestre.Nome - @item.Disciplina.Curso.Nome.ToUpper()</th>
                            </tr>
                            <tr>
                                <th>Dia</th>
                                <th>Horário</th>
                                <th>Disciplina</th>
                            </tr>
                        </thead>
                    }
                    <tbody>
                        <tr>
                            <td>@item.DiaSemana</td>
                            <td>@item.Horario</td>
                            <td>@item.Disciplina.Nome</td>
                        </tr>
                    </tbody>
                }
                @if (ViewBag.Grades.Length <= 0)
                {
                    <tbody>
                        <tr>
                            <td colspan="6">Não há registros para listar.</td>
                        </tr>
                    </tbody>
                }
            </table>
            @if (ViewBag.Grades.Length > 0)
            {
                using (Html.BeginForm("UpdateState", "Grade", FormMethod.Post))
                {
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-success btn-user btn-sm">LIBERAR PARA MATRÍCULA</button>
                    </div>
                }
            }
        </div>
        }
    </div>
</div>