@{
    ViewBag.Title = "Encerramento de Matrícula";
    string curso = string.Empty;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @{
            if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Message
                </div>

                if (ViewBag.HideScreen)
                {
                    <div class="text-center">
                        <a id="voltar" class="btn btn-primary btn-sm" href="@Url.Action("Finish", "Matricula")">VOLTAR</a>
                    </div>
                }
            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        @foreach (var item in ViewBag.Grades)
                        {
                            if (!string.Equals(curso, string.Format("{0} - {1}", item.NomeSemestre, item.NomeCurso.ToUpper())))
                            {
                                curso =  string.Format("{0} - {1}", item.NomeSemestre, item.NomeCurso.ToUpper());
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="4">@item.NomeSemestre - @item.NomeCurso.ToUpper()</th>
                                    </tr>
                                    <tr>
                                        <th>Dia</th>
                                        <th>Horário</th>
                                        <th>Disciplina</th>
                                    </tr>
                                </thead>
                            }
                            <tbody>
                                <tr>
                                    <td>@item.DiaSemana</td>
                                    <td>@item.Horario</td>
                                    <td>@item.NomeDisciplina</td>
                                </tr>
                            </tbody>
                        }
                        @if (ViewBag.Grades.Count <= 0)
                        {
                            <tbody>
                                <tr>
                                    <td colspan="6">Não há registros para listar.</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                    @using (Html.BeginForm("UpdateState", "Matricula", FormMethod.Post))
                    {
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-success btn-user btn-sm">ENCERRAR MATRÍCULAS</button>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>