@model SistemaMatricula.Controllers.MatriculaIndexView
@{
    ViewBag.Title = "Painel de Matrículas";
    string alternativa = string.Empty;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @{
            if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Message
                </div>
            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        @foreach (var item in ViewBag.Matriculas)
                        {
                            if (!string.Equals(alternativa, item.Alternativa.ToString()))
                            {
                                alternativa = item.Alternativa.ToString();
                                <thead>
                                    <tr>
                                        @if (!item.Alternativa)
                                        {
                                            <th class="text-center" colspan="6">PRIMEIRA OPÇÃO</th>
                                        }
                                        else
                                        {
                                            <th class="text-center" colspan="6">SEGUNDA OPÇÃO</th>
                                        }
                                    </tr>
                                    <tr>
                                        <th>Dia</th>
                                        <th>Horário</th>
                                        <th>Curso</th>
                                        <th>Disciplina</th>
                                        <th>Professor</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                            }
                            <tbody>
                                <tr>
                                    <td>@item.DisciplinaSemestre.DiaSemana</td>
                                    <td>@item.DisciplinaSemestre.Horario</td>
                                    <td>@item.DisciplinaSemestre.Disciplina.Curso.Nome</td>
                                    <td>@item.DisciplinaSemestre.Disciplina.Nome</td>
                                    <td>@item.DisciplinaSemestre.Professor.Nome</td>
                                    <td class="text-center">
                                        <a class="btn btn-danger btn-sm excluir" href="@Url.Action("Delete", "Matricula", new SistemaMatricula.Models.DisciplinaSemestre { IdDisciplinaSemestre = item.DisciplinaSemestre.IdDisciplinaSemestre })"><i class="fas fa-trash"></i> CANCELAR</a>
                                    </td>
                                </tr>
                            </tbody>
                        }
                        @if (ViewBag.Matriculas.Count <= 0)
                        {
                            <tbody>
                                <tr>
                                    <td colspan="6">Não há matrículas para listar.</td>
                                </tr>
                            </tbody>
                        }
                        <tfoot>
                            <tr>
                                <th colspan="6">
                                    <a id="adicionar" class="btn btn-primary btn-user btn-sm" href="@Url.Action("Edit", "Matricula")"><i class="fas fa-plus"></i> REALIZAR MATRÍCULA</a>
                                </th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            }
        }
    </div>
    <!--<div class="card-footer">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                    Página 1 de 10 de 50 registros
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">5</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">6</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">7</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">8</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->
</div>