@model SistemaMatricula.Models.Course
@{ ViewBag.Title = "Manutenção de Cursos"; }

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-md-9">
                <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
            </div>
            <div class="col-md-3 text-right">
                <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", "Course")">
                    <i class="fas fa-plus"></i> ADICIONAR CURSO
                </a>
            </div>
        </div>
    </div>
    @if (string.IsNullOrEmpty(ViewBag.Message) == false)
    {
        <div class="card-body">
            <div class="alert alert-danger" role="alert">
                @ViewBag.Message
            </div>
        </div>
    }
    else
    {
        using (Html.BeginForm("Index", "Course"))
        {
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.Name,
                            new
                            {
                                 @class = "form-control form-control-user",
                                 @placeholder = "O que você está procurando?"
                            })
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary btn-user">
                            <i class="fas fa-search"></i> PESQUISAR
                        </button>
                        <a class="btn btn-primary btn-user"
                           href="@Url.Action("Index", "Course")">LIMPAR FILTRO</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        @if (ViewBag.List.Count < 1)
                        {
                            <tbody>
                                <tr>
                                    <td>Não há registros para listar.</td>
                                </tr>
                            </tbody>
                        }
                        else
                        {
                            <thead class="bg-gray-100">
                                <tr>
                                    <th>Nome</th>
                                    <th>Data de Cadastro</th>
                                    <th class="text-center" colspan="2">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.List)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.RegisterDate.ToString("dd/MM/yyyy")</td>
                                        <td class="text-center">
                                            <a class="btn btn-warning btn-sm"
                                               href="@Url.Action("Edit", "Course", new { IdCourse = item.IdCourse })">
                                                <i class="fas fa-pen"></i> EDITAR
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-danger btn-sm list-delete" href="#"
                                               data-toggle="modal" data-target="#delete-modal"
                                               data-item-name="@item.Name" data-item-url="/Course/Delete/@item.IdCourse">
                                                <i class="fas fa-trash"></i> EXCLUIR
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>

            @Html.Partial("_Pagination", Model)
        }
    }
</div>

@Html.Partial("_DeleteModal", "Curso")