@model SistemaMatricula.Controllers.DisciplinaView
@{ViewBag.Title = "Cadastro de Disciplinas";}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @{
            if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Message
                </div>

                if (ViewBag.HideScreen)
                {
                    <div class="text-center">
                        <a id="voltar" class="btn btn-primary btn-sm" href="@Url.Action("Index", "Disciplina")">VOLTAR</a>
                    </div>
                }
            }

            if (!ViewBag.HideScreen)
            {
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Update", "Disciplina", FormMethod.Post, new { @class = "user" }))
                        {
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control form-control-user", @required = "required", @placeholder = "Digite o nome", @maxlenth = 100 })
                                    @Html.ValidationMessageFor(model => model.Nome)
                                </div>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.CursoSelecionado, Model.Cursos, "Selecione um curso", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Cursos)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control form-control-user", @required = "required", @placeholder = "Detalhe as informações gerais da disciplina" })
                                @Html.ValidationMessageFor(model => model.Descricao)
                            </div>
                            if (Model != null)
                            {
                                @Html.HiddenFor(model => model.IdDisciplina)
                            }
                            <div class="form-group text-center">
                                <button type="submit" id="salvar" class="btn btn-primary btn-success btn-sm"><i class="fas fa-save"></i> SALVAR</button>
                                <a id="cancelar" class="btn btn-danger btn-sm" href="@Url.Action("Index", "Disciplina")">CANCELAR</a>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>